<footer id="footer">
            <div class="totop">
                <span><a href="#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <p id="bottom-text"><a href="https://metricalo.com/">Metricalo <i class="fa fa-code"></i>  <i class="fa fa-heart"></i> <a class="next-gen" href="https://metricalo.com/">NextGen Web Technology DMCC</a>.</p>
</footer>