<div id="side-div">
	<h4 class="recent">Recent Pages
	</h4>
	<ul class="side-items">
		{% for page in pages.children.visible|reverse %}
			{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
			<li class="{{ current_page }}">
				<a href="{{ page.url }}" class="button" class="side-links">
					{% if page.header.icon %}
						<i class="fa fa-{{ page.header.icon }}"></i>
					{% endif %}
					{{ page.menu }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
